CEauthority
.KeyHoleTV/
.Skype/
.Xauthority
.android/
.anthy/
.aptanasecure/
.bash_history
.bash_logout
.bashrc
.cache/
.compiz-1/
.config/
.cospohoto.txt.swp
.dbshell
.dbus/
.deltafy/
.dmrc
.eclipse/
.esd_auth
.fontconfig/
.fonts/
.gconf/
.gem/
.gksu.lock
.gnome2/
.gstreamer-0.10/
.gtk-bookmarks
.irb-history
.java/
.lesshst
.libreoffice/
.local/
.macromedia/
.mission-control/
.mozc/
.mozilla/
.neocon/
.pki/
.profile
.psql_history
.pulse-cookie
.pulse/
.scim/
.sqlite_history
.ICEauthority
.ssh/
.sudo_as_admin_successful
.thumbnails/
.thunderbird/
.titanium/
.unite/
.vim/.netrwhist
.vim/view/
.viminfo
.vimperator/
.vimperatorrc
.vmware/
.xinput.d/
.xsession-errors

